In [7]:
import requests
import pandas as pd
import numpy as np
import json
import matplotlib

In [8]:
# starting with getting the data von sportradar

url = 'https://api.sportradar.us/nba/trial/v7/en/league/hierarchy.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
spora1 = requests.get(url)

In [9]:
leag = spora1.json()

In [10]:
# in leag we find the id's for Houston and Milwaukee
#houston = 583ecb3a-fb46-11e1-82cb-f4ce4684ea4c
#milwaukee = 583ecefd-fb46-11e1-82cb-f4ce4684ea4c

In [11]:
#Getting the player id's from the team roster
#Houston first

url = 'https://api.sportradar.us/nba/trial/v7/en/teams/583ecb3a-fb46-11e1-82cb-f4ce4684ea4c/profile.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
houston= requests.get(url)

In [12]:
houston2 = houston.json()

In [13]:
# Westbrook ID 74a45eed-f2b0-4886-ae71-d04cf7d59528
# James ID a52b2c84-9c3d-4d6e-8a3b-10e75d11c2bc

In [14]:
#now Milwaukee

url = 'https://api.sportradar.us/nba/trial/v7/en/teams/583ecefd-fb46-11e1-82cb-f4ce4684ea4c/profile.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
milwaukee= requests.get(url)

In [15]:
milwaukee2 = milwaukee.json()

In [16]:
# Giannis ID  6c60282d-165a-4cba-8e5a-4f2d9d4c5905

In [17]:
# Russell stats from sportradar

url = 'https://api.sportradar.us/nba/trial/v7/en/players/74a45eed-f2b0-4886-ae71-d04cf7d59528/profile.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
russ1= requests.get(url)

In [18]:
russ2 = russ1.json()
russ3 = russ2['seasons'].copy()
dfruss1 =pd.DataFrame()

In [19]:
for i in range(len(russ3)):
    russ4 = russ3[i]['teams']
    dfruss1 = dfruss1.append(russ4[0]['average'], ignore_index=True)

In [20]:
rename_list = dfruss1.keys()
dic_rename = {}

for i in range(len(rename_list)):
    var_a = rename_list[i] + '_pG'
    dic_rename.update({rename_list[i]:var_a})

In [21]:
dfruss1.rename(dic_rename, axis=1, inplace=True)

In [22]:
#now get the data for James Harden

In [23]:
url = 'https://api.sportradar.us/nba/trial/v7/en/players/a52b2c84-9c3d-4d6e-8a3b-10e75d11c2bc/profile.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
harden1= requests.get(url)

In [24]:
harden2 = harden1.json()
harden3 = harden2['seasons'].copy()
dfharden1 =pd.DataFrame()

In [25]:
for i in range(len(harden3)):
    harden4 = harden3[i]['teams']
    dfharden1 = dfharden1.append(harden4[0]['average'], ignore_index=True)

In [26]:
dfharden1.rename(dic_rename, axis=1, inplace=True)

In [27]:
# get the Giannis sportradar data

In [28]:
url = 'https://api.sportradar.us/nba/trial/v7/en/players/6c60282d-165a-4cba-8e5a-4f2d9d4c5905/profile.json?api_key=9cn8jgzchymqy9b2qnw28vhh'
giannis1= requests.get(url)

In [29]:
giannis2 = giannis1.json()
giannis3 = giannis2['seasons'].copy()
dfgiannis1 =pd.DataFrame()

In [30]:
for i in range(len(giannis3)):
    giannis4 = giannis3[i]['teams']
    dfgiannis1 = dfgiannis1.append(giannis4[0]['average'], ignore_index=True)

In [31]:
dfgiannis1.rename(dic_rename, axis=1, inplace=True)

In [32]:
dfgiannis1

,assists_pG,blocked_att_pG,blocks_pG,def_rebounds_pG,efficiency_pG,fast_break_att_pG,fast_break_made_pG,fast_break_pts_pG,field_goals_att_pG,field_goals_made_pG,...,second_chance_att_pG,second_chance_made_pG,second_chance_pts_pG,steals_pG,three_points_att_pG,three_points_made_pG,true_shooting_att_pG,turnovers_pG,two_points_att_pG,two_points_made_pG
0,5.5,1.14,1.36,10.59,35.27,4.00,2.64,6.50,20.27,11.45,...,2.36,1.59,4.32,1.36,5.00,1.59,25.11,3.86,15.27,9.86
1,5.9,1.39,1.53,10.26,35.25,2.31,1.69,4.68,17.32,10.01,...,1.83,1.15,2.93,1.28,2.82,0.72,21.51,3.72,14.50,9.29
2,4.8,1.13,1.41,7.96,30.75,2.51,1.77,4.72,18.69,9.89,...,2.04,1.23,3.04,1.45,1.87,0.57,22.45,2.97,16.83,9.32
3,5.4,0.88,1.89,6.98,28.38,0.00,0.00,0.00,15.74,8.20,...,0.00,0.00,0.13,1.64,2.25,0.61,19.10,2.93,13.49,7.59
4,4.3,0.78,1.41,6.24,21.16,0.00,0.00,0.00,12.66,6.41,...,0.00,0.00,0.04,1.18,1.36,0.35,14.91,2.60,11.30,6.06
5,2.6,0.80,1.05,5.46,15.77,0.00,0.00,0.00,9.63,4.73,...,0.00,0.00,0.05,0.90,0.54,0.09,11.51,2.14,9.09,4.64
6,1.9,0.38,0.79,3.39,9.14,0.00,0.00,0.00,5.43,2.25,...,0.00,0.00,0.03,0.78,1.53,0.53,6.58,1.58,3.90,1.71

In [33]:
#dfgiannis1.keys()

In [34]:
#dfgiannis2 = dfgiannis1[['points_pG', 'rebounds_pG']]

In [35]:
# Now we need the data from nba.com
# We also need the player id's here. Getting them from the allplayers list

In [36]:
url = 'https://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=0&LeagueID=00&Season=2018-19'

headers = {'user-agent': ('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.97 Safari/537.36'),
          'referer': 'http://stats.nba.com/players/'}

In [37]:
allplayers1 =  requests.get(url, headers= headers)

In [38]:
type(allplayers1)

requests.models.Response

In [39]:
allplayers2 = allplayers1.json()
allplayers3 = allplayers2['resultSets'].copy()
allplayers4 = allplayers3[0].copy()

In [40]:
allplayers2 = allplayers1.json()

In [41]:
type(allplayers2)

dict

In [42]:
allplayers4['headers']

['PERSON_ID',
 'DISPLAY_LAST_COMMA_FIRST',
 'DISPLAY_FIRST_LAST',
 'ROSTERSTATUS',
 'FROM_YEAR',
 'TO_YEAR',
 'PLAYERCODE',
 'TEAM_ID',
 'TEAM_CITY',
 'TEAM_NAME',
 'TEAM_ABBREVIATION',
 'TEAM_CODE',
 'GAMES_PLAYED_FLAG',
 'OTHERLEAGUE_EXPERIENCE_CH']

In [43]:
headerlist = allplayers4['headers']
dfplayerlist = pd.DataFrame.from_dict(allplayers4['rowSet'])

In [44]:
dfplayerlist.columns = headerlist

In [45]:
dfplayerlist.head(20)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y,00
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y,00
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,0,,,,,Y,00
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,0,,,,,Y,00
5,949,"Abdur-Rahim, Shareef",Shareef Abdur-Rahim,0,1996,2007,shareef_abdur-rahim,0,,,,,Y,00
6,76005,"Abernethy, Tom",Tom Abernethy,0,1976,1980,HISTADD_tom_abernethy,0,,,,,Y,00
7,76006,"Able, Forest",Forest Able,0,1956,1956,HISTADD_frosty_able,0,,,,,Y,00
8,76007,"Abramovic, John",John Abramovic,0,1946,1947,HISTADD_brooms_abramovic,0,,,,,Y,00
9,203518,"Abrines, Alex",Alex Abrines,0,2016,2018,alex_abrines,0,,,,,Y,00
10,101165,"Acker, Alex",Alex Acker,0,2005,2008,alex_acker,0,,,,,Y,01
11,76008,"Ackerman, Donald",Donald Ackerman,0,1953,1953,HISTADD_buddy_ackerman,0,,,,,Y,00
12,76009,"Acres, Mark",Mark Acres,0,1987,1992,HISTADD_mark_acres,0,,,,,Y,00
13,76010,"Acton, Charles",Charles Acton,0,1967,1967,HISTADD_bud_acton,0,,,,,Y,00
14,203112,"Acy, Quincy",Quincy Acy,0,2012,2018,quincy_acy,0,,,,,Y,11
15,76011,"Adams, Alvan",Alvan Adams,0,1975,1987,HISTADD_alvan_adams,0,,,,,Y,00
16,76012,"Adams, Don",Don Adams,0,1970,1976,HISTADD_don_adams,0,,,,,Y,00
17,200801,"Adams, Hassan",Hassan Adams,0,2006,2008,hassan_adams,0,,,,,Y,00
18,1629121,"Adams, Jaylen",Jaylen Adams,1,2018,2018,jaylen_adams,1610612737,Atlanta,Hawks,ATL,hawks,Y,11
19,203919,"Adams, Jordan",Jordan Adams,0,2014,2015,jordan_adams,0,,,,,Y,11

In [46]:
#getting the id's by searching up the names with loc function

dfplayerlist.loc[dfplayerlist['DISPLAY_FIRST_LAST'] == 'Giannis Antetokounmpo']   #for example

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
105,203507,"Antetokounmpo, Giannis",Giannis Antetokounmpo,1,2013,2019,giannis_antetokounmpo,1610612749,Milwaukee,Bucks,MIL,bucks,Y,00

In [47]:
#player id's
#Giannis id 203507
#Harden id 201935
#Westbrook id 201566

In [ ]:
#Start getting the data for Westbrook from nba.com

In [ ]:
url = 'https://stats.nba.com/stats/playerprofilev2?LeagueID=&PerMode=Totals&PlayerID=201566'

headers = {'user-agent': 'Mozilla/5.0 (Windows 10; Win64; x64) Chrome/38.0.2114.2 Safari/537.36'}

In [ ]:
russnba1 = requests.get(url, headers= headers)
russnba2 = russnba1.json()

In [ ]:
russnba3 = russnba2['resultSets'].copy()
russnba4 = russnba3[0].copy()
playerheaderlist = russnba4['headers']

In [ ]:
dfrussnba = pd.DataFrame.from_dict(russnba4['rowSet'])
dfrussnba.columns = playerheaderlist

In [ ]:
dfrussnba2 = dfrussnba[::-1].copy()
dfrussnba2.reset_index(drop=True, inplace=True)

In [ ]:
#merging the two tables. using the sportradar table as left table.

In [ ]:
dfruss_merged = dfruss1.merge(dfrussnba2, left_index=True, right_index=True)

In [ ]:
#writing the data into pickle file
#dfruss_merged.to_pickle('Westbrookfinal.pkl')

In [ ]:
#Getting the James Harden data from stats.nba.com

In [ ]:
url = 'https://stats.nba.com/stats/playerprofilev2?LeagueID=&PerMode=Totals&PlayerID=201935'

headers = {'user-agent': 'Mozilla/5.0 (Windows 10; Win64; x64) Chrome/38.0.2114.2 Safari/537.36'}

In [ ]:
hardnba1 = requests.get(url, headers= headers)
hardnba2 = hardnba1.json()

In [ ]:
hardnba3 = hardnba2['resultSets'].copy()
hardnba4 = hardnba3[0].copy()

In [ ]:
dfhardnba = pd.DataFrame.from_dict(hardnba4['rowSet'])
dfhardnba.columns = playerheaderlist

In [ ]:
dfhardnba2 = dfhardnba[::-1].copy()
dfhardnba2.reset_index(drop=True, inplace=True)

In [ ]:
#merging the two tables. using the sportradar table as left table.
dfhard_merged = dfharden1.merge(dfhardnba2, left_index=True, right_index=True)

In [ ]:
#writing the data into pickle file
#dfhard_merged.to_pickle('JamesHardenfinal.pkl')

In [ ]:
#Giannis nba data

In [ ]:
url = 'https://stats.nba.com/stats/playerprofilev2?LeagueID=&PerMode=Totals&PlayerID=203507'

headers = {'user-agent': 'Mozilla/5.0 (Windows 10; Win64; x64) Chrome/38.0.2114.2 Safari/537.36'}

In [ ]:
giannisnba1 = requests.get(url, headers= headers)
giannisnba2 = giannisnba1.json()

In [ ]:
giannisnba3 = giannisnba2['resultSets'].copy()
giannisnba4 = giannisnba3[0].copy()

In [ ]:
dfgiannisnba = pd.DataFrame.from_dict(giannisnba4['rowSet'])
dfgiannisnba.columns = playerheaderlist

In [ ]:
dfgiannisnba2 = dfgiannisnba[::-1].copy()
dfgiannisnba2.reset_index(drop=True, inplace=True)

In [ ]:
#merging the two tables. using the sportradar table as left table.
dfgiannis_merged = dfgiannis1.merge(dfgiannisnba2, left_index=True, right_index=True)

In [ ]:
#writing the data into pickle file
#dfgiannis_merged.to_pickle('GiannisAntofinal.pkl')

In [ ]:
#using data for some plots, using subsets to get a cleaner view
#westbrook first

In [ ]:
dfruss_sub = dfruss_merged[['SEASON_ID', 'points_pG', 'assists_pG','rebounds_pG','turnovers_pG','free_throws_att_pG' ]]
dfruss_sub

In [ ]:
dfruss_sub[::-1].plot(x='SEASON_ID', y =['points_pG', 'assists_pG','rebounds_pG', 'turnovers_pG','free_throws_att_pG'], kind='bar');

In [ ]:
dfruss_sub2 = dfruss_merged[['SEASON_ID', 'FG_PCT', 'FG3_PCT','FT_PCT' ]]
dfruss_sub2

In [ ]:
dfruss_sub2[::-1].plot(x='SEASON_ID', y =[ 'FG_PCT', 'FG3_PCT','FT_PCT']);

In [ ]:
#harden plots

In [ ]:
dfharden_sub = dfhard_merged[['SEASON_ID', 'points_pG', 'assists_pG','rebounds_pG','turnovers_pG','free_throws_att_pG' ]]
dfhard_sub

In [ ]:
dfharden_sub[::-1].plot(x='SEASON_ID', y =['points_pG', 'assists_pG','rebounds_pG', 'turnovers_pG','free_throws_att_pG'], kind='bar');

In [ ]:
dfharden_sub2 = dfhard_merged[['SEASON_ID', 'FG_PCT', 'FG3_PCT','FT_PCT' ]]
dfharden_sub2

In [ ]:
dfharden_sub2[::-1].plot(x='SEASON_ID', y =[ 'FG_PCT', 'FG3_PCT','FT_PCT']);

In [ ]:
#plotting for giannis

In [ ]:
dfgiannis_sub = dfgiannis_merged[['SEASON_ID', 'points_pG', 'assists_pG','rebounds_pG','turnovers_pG','free_throws_att_pG' ]]
dfgiannis_sub

In [ ]:
dfgiannis_sub[::-1].plot(x='SEASON_ID', y =['points_pG', 'assists_pG','rebounds_pG', 'turnovers_pG','free_throws_att_pG'], kind='bar');

In [ ]:
dfgiannis_sub2 = dfgiannis_merged[['SEASON_ID', 'FG_PCT', 'FG3_PCT','FT_PCT' ]]
dfgiannis_sub2

In [ ]:
dfgiannis_sub2[::-1].plot(x='SEASON_ID', y =[ 'FG_PCT', 'FG3_PCT','FT_PCT']);