In [55]:
import requests
import pandas as pd
import numpy as np
import json

In [56]:
url = 'https://stats.nba.com/stats/assistleaders?LeagueID=00&PerMode=Totals&PlayerOrTeam=Player&Season=2018-19&SeasonType=Regular+Season'

headers = {'user-agent': 'Mozilla/5.0 (Windows 10; Win64; x64) Chrome/38.0.2114.2 Safari/537.36'}

In [57]:
test = requests.get(url, headers= headers)

In [58]:
test.status_code

200

In [71]:
a = test.json()

In [101]:
b = a['resultSets'].copy()

In [107]:
b[0].keys()

dict_keys(['name', 'headers', 'rowSet'])

In [114]:
c = b[0].copy()

In [118]:
test98 = c['headers']

In [115]:
c

{'name': 'AssistLeaders',
 'headers': ['RANK',
  'PLAYER_ID',
  'PLAYER',
  'TEAM_ID',
  'TEAM_ABBREVIATION',
  'TEAM_NAME',
  'JERSEY_NUM',
  'PLAYER_POSITION',
  'AST'],
 'rowSet': [[1,
   201566,
   'Russell Westbrook',
   1610612760,
   'OKC',
   'Oklahoma City Thunder',
   '0',
   'G',
   784],
  [2,
   1629027,
   'Trae Young',
   1610612737,
   'ATL',
   'Atlanta Hawks',
   '11',
   'G',
   653],
  [3,
   1627732,
   'Ben Simmons',
   1610612755,
   'PHI',
   'Philadelphia 76ers',
   '25',
   'G-F',
   610],
  [4,
   1628368,
   "De'Aaron Fox",
   1610612758,
   'SAC',
   'Sacramento Kings',
   '5',
   'G',
   590],
  [5,
   201935,
   'James Harden',
   1610612745,
   'HOU',
   'Houston Rockets',
   '13',
   'G',
   586]]}

In [116]:
df99 = pd.DataFrame.from_dict(c['rowSet'])

In [117]:
df99

,0,1,2,3,4,5,6,7,8
0,1,201566,Russell Westbrook,1610612760,OKC,Oklahoma City Thunder,0,G,784
1,2,1629027,Trae Young,1610612737,ATL,Atlanta Hawks,11,G,653
2,3,1627732,Ben Simmons,1610612755,PHI,Philadelphia 76ers,25,G-F,610
3,4,1628368,De'Aaron Fox,1610612758,SAC,Sacramento Kings,5,G,590
4,5,201935,James Harden,1610612745,HOU,Houston Rockets,13,G,586

In [119]:
df99.columns = test98

In [120]:
df99

,RANK,PLAYER_ID,PLAYER,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,JERSEY_NUM,PLAYER_POSITION,AST
0,1,201566,Russell Westbrook,1610612760,OKC,Oklahoma City Thunder,0,G,784
1,2,1629027,Trae Young,1610612737,ATL,Atlanta Hawks,11,G,653
2,3,1627732,Ben Simmons,1610612755,PHI,Philadelphia 76ers,25,G-F,610
3,4,1628368,De'Aaron Fox,1610612758,SAC,Sacramento Kings,5,G,590
4,5,201935,James Harden,1610612745,HOU,Houston Rockets,13,G,586