## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

import random

sample_list_1 =[]

for i in range(80):
    x = random.randint(0,100)
    sample_list_1.append(x)
    
print(sample_list_1)
print(len(sample_list_1))

[67, 27, 59, 92, 64, 50, 52, 46, 88, 83, 47, 60, 66, 23, 43, 21, 83, 44, 10, 75, 76, 62, 30, 75, 69, 17, 90, 7, 44, 39, 38, 74, 88, 29, 3, 13, 99, 21, 90, 89, 11, 18, 84, 93, 59, 67, 21, 8, 83, 46, 79, 68, 19, 51, 73, 58, 34, 42, 63, 100, 63, 18, 12, 29, 8, 48, 61, 0, 45, 1, 79, 27, 36, 8, 5, 20, 30, 34, 58, 62]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

58

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

import random

sample_list_2 =[]

for i in range(80):
    x = random.randint(0,100)
    sample_list_2.append(x)
    
print(sample_list_2)
print(len(sample_list_2))

[47, 99, 38, 38, 79, 11, 35, 54, 35, 72, 68, 32, 72, 76, 74, 56, 47, 100, 44, 65, 69, 83, 19, 40, 27, 78, 42, 20, 42, 29, 48, 27, 83, 70, 45, 12, 79, 14, 29, 40, 52, 59, 75, 46, 79, 37, 82, 0, 93, 88, 12, 53, 95, 52, 28, 9, 29, 68, 7, 75, 98, 5, 87, 51, 97, 90, 74, 23, 79, 100, 93, 92, 47, 66, 80, 90, 82, 82, 88, 39]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

l3=[]

for i in set1:
    if i not in set2:
        l3.append(i)

set3 = set(l3)
print(set3)

{1, 3, 8, 10, 13, 17, 18, 21, 30, 34, 36, 43, 50, 58, 60, 61, 62, 63, 64, 67, 73, 84, 89}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
l4=[]

for i in set2:
    if i not in set1:
        l4.append(i)

set4 = set(l4)
print(set4)

{9, 14, 28, 32, 35, 37, 40, 53, 54, 56, 65, 70, 72, 78, 80, 82, 87, 95, 97, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

l5=[]

for i in set2:
    if i in set1:
        l5.append(i)

set5 = set(l5)
print(set5)

{0, 5, 7, 11, 12, 19, 20, 23, 27, 29, 38, 39, 42, 44, 45, 46, 47, 48, 51, 52, 59, 66, 68, 69, 74, 75, 76, 79, 83, 88, 90, 92, 93, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

as1 = len(set1)
as2 = len(set2)
as3 = len(set3)
as4 = len(set4)
as5 = len(set5)

# len(set1) = len(set3) + len(set5)
# len(set2) = len(set4) + len(set5)

if len(set1) == (len(set3) + len(set5)):
    print(True)
else: 
    print(False)
    
if len(set2) == (len(set4) + len(set5)):
    print(True)
else: 
    print(False)

True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 3, 5, 7, 8, 10, 11, 12, 13, 17, 18, 19, 20, 21, 23, 27, 29, 30, 34, 36, 38, 39, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 73, 74, 75, 76, 79, 83, 84, 88, 89, 90, 92, 93, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

if set6 == set1:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here

q = set2.issubset(set1)

print(q)

w = set3.issubset(set1)

print(w)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set7 = set3.union(set4,set5)

print(set7)

set8 = set1.union(set2)

print(set8)

{0, 1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 23, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 87, 88, 89, 90, 92, 93, 95, 97, 98, 99, 100}
{0, 1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 23, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 87, 88, 89, 90, 92, 93, 95, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

a = set1.pop()

print(a)

print(set1)

0
{1, 3, 5, 7, 8, 10, 11, 12, 13, 17, 18, 19, 20, 21, 23, 27, 29, 30, 34, 36, 38, 39, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 73, 74, 75, 76, 79, 83, 84, 88, 89, 90, 92, 93, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    set1.discard(x)
    
print(set1)

{3, 5, 7, 8, 10, 12, 13, 17, 18, 20, 23, 27, 30, 34, 36, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 58, 60, 62, 63, 64, 66, 67, 68, 73, 74, 75, 76, 83, 84, 88, 90, 92, 93, 100}